.projects-section {
    background-color: #fff;
    padding: 20px 20px 20px 40px;
  }
  
.projects-section h2 {
  margin-bottom: 20px;
}

.projects-section ul {
  list-style-type: none;
  padding: 0;
}
  