
.projects {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.projects h2 {
  font-size: 2em;
  color: #282c34;
  margin-bottom: 20px;
  text-align: center;
}

.projects ul {
  list-style-type: none;
  padding: 0;
}

.projects ul li {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

.projects ul li:hover {
  background-color: #e0f7fa;
}

.projects ul li a {
  font-size: 1.1em;
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

.projects ul li a:hover {
  text-decoration: underline;
}
